<footer class="content">

	<div class="copyright">

		&copy; 2017 - {{ site.time | date: '%Y' }} Themes Hunt - a <a href="https://prothemedesign.com" rel="nofollow">Pro Theme Design</a> adventure

	</div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ "/assets/scripts/main.js" | relative_url }}?dc={{ site.time | date: '%y%m%d%k%M' }}"></script>
<script src="{{ "/assets/scripts/prefixfree.min.js" | relative_url }}?dc={{ site.time | date: '%y%m%d%k%M' }}"></script>
