.theme-roundups {

	@include clear;

	.roundup {

		margin: 0;
		float: left;
		width: 33.33%;
		margin-bottom: $grid-line-height * 2;
		padding: 0 ( $grid-gutter / 2 );

		.roundup-icon {

			width: 100%;
			margin-bottom: $grid-line-height / 2;
			display: block;
			background: $canvas-color;

			img {

				display: block;

			}

		}

		.roundup-meta {

			h2 {

				@include modular-scale( delta );
				margin: 0 0 ( $grid-line-height / 2 ) 0;
				font-weight: bold;

			}

		}

	}

}
