.theme-summary {

	margin: ( $grid-line-height * 3 ) 0;

}

.theme-summary-title {

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: $grid-line-height;

	> div {

		width: 48%;

		@include for-phone {

			width: 100%;

		}

	}

	.theme-screenshot-wrapper {

		box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.1);
		display: block;

		img {

			width: 100%;
			display: block;

		}

		@include for-phone {

			margin-bottom: $grid-line-height;

		}

	}

	.theme-meta {

		h3 {

			@include modular-scale( gamma );
			font-weight: bold;

		}

		p {

			@include post-meta-data;
			margin-bottom: $grid-line-height;

			&:last-of-type {

				margin-bottom: 0;

			}

		}

		a {

			font-weight: bold;

		}

	}

}

.theme-content {

	margin-bottom: $grid-line-height * $grid-line-height-multiplier * 2;

}
