body.theme {

	.theme-intro {

		.theme-screenshot {

			margin-bottom: $grid-line-height * $grid-line-height-multiplier;

		}

		.theme-price {

			display: none;

		}

		.intro {

			text-align: center;

		}

	}

	.theme-meta {

		.button {

			width: 48%;
			float: left;

			&:nth-child( 1 ) {

				margin-right: 4%;

			}

		}

		small {

			clear: both;
			display: block;
			text-align: center;
			padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );

		}

	}

	.theme-intro,
	.theme-description {

		img,
		> * {

			margin-left: auto;
			margin-right: auto;
			display: block;

		}

		ul,
		p {

			&:not(.image) {

				max-width: $grid-total-width * 0.5;

			}

		}

		h2,
		h3 {

			margin-top: $grid-line-height * $grid-line-height-multiplier;

		}

		.theme-meta {

			padding-top: $grid-line-height * $grid-line-height-multiplier;

		}

	}

}
