.theme-roundups {

	@include clear;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.roundup {

		margin: 0;
		margin-bottom: $grid-line-height * 2;
		padding: 0;
		width: 30%;

		@include for-tablet {
			width: 48%;
		}

		@include for-phone {
			width: 100%;
		}

		.roundup-icon {

			width: 100%;
			margin-bottom: $grid-line-height / 2;
			display: block;
			background: $canvas-color;
			position: relative;

			img {

				display: block;

			}

			&:after {

				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to bottom right,#F4D040,#59E6A4);
				opacity: 0.8;

			}

		}

		.roundup-meta {

			h2 {

				@include modular-scale( delta );
				margin: 0 0 ( $grid-line-height / 2 ) 0;
				font-weight: bold;
				text-align: left;

			}

		}

	}

}
