.theme-summary {

	position: relative;
	margin-bottom: $grid-line-height * $grid-line-height-multiplier;
	display: flex;
	box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.1);

	.theme-screenshot {

		width: 50%;

		img {

			width: 100%;

		}

	}

	.theme-meta {

		padding: $grid-line-height ( $grid-gutter / 2 );

		h3 {

			margin: 0;

		}

		p {

		}

	}

}
