.theme-summary {

	position: relative;
	margin-bottom: $grid-line-height;
	padding-left: 52%;

	.theme-screenshot {

		box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.1);
		width: 48%;
		position: absolute;
		top: 0;
		left: 0;

		img {

			width: 100%;
			display: block;

		}

	}

	.theme-meta {

		h3 {

			@include modular-scale( gamma );

		}

	}

}

.theme-content {

	margin-bottom: $grid-line-height * $grid-line-height-multiplier * 2;

}
