body {

	background: $canvas-white;

}

a {

	color: $canvas-blue;

	&:hover {

		text-decoration: none;

	}

}

.container {

	@include container;

}

.button {

	width: 100%;

}

hr {

	max-width: $grid-gutter;
	border-width: $border-width;
	border-color: $canvas-red;

}

svg {

	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: $grid-gutter / 4;
	vertical-align: middle;
	color: $canvas-red;
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;

}
