body {

	background: $canvas-white;

}

a {

	color: $link-color;
	text-decoration: none;

	h1 &,
	h2 &,
	p & {

		box-shadow: inset 0 -0.4em $canvas-green;
		padding: 0 0.2em;
		@include transition;

		&:focus,
		&:hover {

			text-decoration: none;
			box-shadow: inset 0 -1.2em lighten( $canvas-yellow, 10% );

		}

	}

}

.container {

	@include container;

}

.button {

	width: 100%;

}

.home-intro {

	h2 {

		a {

			color: $link-color;

		}

	}

}

hr {

	max-width: $grid-gutter;
	border-width: $border-width;
	border-color: $canvas-red;

}

svg {

	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: $grid-gutter / 4;
	vertical-align: middle;
	color: $canvas-red;
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;

}
