---
layout: default
body_class: home
---
<div class="content">

	<h2 class="minor">Recent WordPress Theme Roundups</h2>

	{% include roundups.html limit=4 %}

	<a href="{% link _pages/roundups.md %}" class="button">All Theme Roundups</a>

</div>

<div class="content">

	<h2 class="minor">Recent WordPress Themes</h2>

	<div class="themes-list">

		{% for theme in site.themes limit: 8 %}

			{% include functions/theme.html theme=theme %}

		{% endfor %}

	</div>

	<a href="{% link _pages/themes.md %}" class="button">All WordPress Themes</a>

</div>

<!--
<div class="content">

	<h2 class="minor">Recent News</h2>

</div>
-->
