---
layout: default
body_class: home
---
<div class="content home-intro">

	<h2>We sift through the rubbish to help you find the perfect WordPress theme. Check out our <a href="{% link _pages/roundups.md %}">WordPress Theme Roundups</a>, our collection of awesome <a href="{% link _pages/themes.md %}">WordPress Themes</a>, or search for the perfect WordPress theme.</h2>

	<h3>Theme Roundups</h3>

	<p>Our theme roundups are lists of themes perfect for different situations. Whether that's finding an accessible theme, or something suitable for a video game magazine.</p>

	<h3>WordPress Themes</h3>

	<p>All of the WordPress themes we feature are from theme shops we admire. These are not kitchen sink themes. They look good, are well coded, and easy to use. No complex control panels. No slow loading javascript (who really needs 3 different sliders?). Just good quality themes.</p>

</div>
