
	<div class="theme"
		data-price="{{ include.theme.price }}"
		data-name="{{ include.theme.title }}"
		data-tags="{{ include.theme.theme_tags }}"
	>
		<a href="{{ include.theme.url | relative_url }}" class="theme-url">
			<div class="theme-icon-wrapper">
				{% include functions/theme-image.html theme=include.theme.title image="icon.png" %}
			</div>
		</a>

		<div class="theme-hover">
			<span class="theme-name">{{ include.theme.title | escape }} <em class="theme-price">{% include functions/price.html price=include.theme.price %}</em></span>
			<span class="theme-description">{{ include.theme.intro | escape }}</span>
		</div>
	</div>
